{% extends "based/based.html" %}
{% load staticfiles %}

{% block body_block %}
  <div class="container">
    <div class="jumbotron">
        <table>

            {% for expense in samples %}
            <tr>
                <td>{{ expense.expense_title }}</td>
                <td>{{ expense.amount }}</td>
                <td>{{ expense.currency }}</td>
                <td>{{ expense.payment_type }}</td>
                <td>{{ expense.expense_type }}</td>
                <td>{{ expense.vendor_name }}</td>
                <td>{{ expense.last4digit }}</td>
                <td>{{ expense.invoice }}</td>
                <td>{{ expense.userid }}</td>
                    <td><a href={% url 'expense:get_expense' pk=expense.id %}><button type="submit">Edit</button></a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No expenses</td>
            </tr>
            {% endfor %}
        </table>
    </div>
  </div>
{% endblock %}

